.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.avatar-img {
  border-radius: 50%; /* Makes the image circular */
  width: 300px;      /* Adjust width to set the size */
  height: 300px;     /* Adjust height to match width */
  object-fit: cover; /* Ensures the image scales properly */
  border: 2px solid #6c63ff; /* Optional: Add a border for styling */
}
.home-about-body ul {
  margin: 10px 0;
}

.home-about-body ul li {
  margin: 5px 0;
  color: #c770f0; /* Purple color for bullet points */
}

.home-about-body ul li i {
  color: white; /* Reset text color */
}